<!DOCTYPE html>
<html>
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <link href="~/Content/estilos.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

</head>
<body>
    <div id="rec"></div>

    <header id="headerLogo">
        <nav id="navLogo">
            <ul class="ulLogo">
                <a class="aLogo"><li class="liLogo">Inicio</li></a>
                <a class="aLogo"><li class="liLogo">Videos</li></a>
                <a class="aLogo"><li class="liLogo">Im&aacute;genes</li></a>
            </ul>

            <img id='logo' src='~/Content/Imagenes/pedidos2.png'>

            <ul class="ulLogo">
                <a class="aLogo"><li class="liLogo">Youtube</li></a>
                <a class="aLogo"><li class="liLogo">Nosotros</li></a>
                <a class="aLogo"><li class="liLogo">Contacto</li></a>
            </ul>
        </nav>
    </header>


    
    <script>
        //lOGO ANIMACION
        $(document).ready(function () {



            $("#rec").css({ "height": $(window).height() + "px" });

            $("#logo").css({ "margin-top": "-5px", "width": "50px", "height": "50px" });

            $("#headerLogo").css({ "background-color": "#3C3C3C" });

            var flag = false;
            var scroll;
            var con = 1;
            if (con = 1) {
                $("#logo").css({ "margin-top": "170px", "width": "250px", "height": "250px" });
                $("#headerLogo").css({ "background-color": "transparent" });
                con++;
            }

            $("#navLogo").mouseover(function () {
                $("#logo").css({ "margin-top": "-70px", "width": "45px", "height": "45px" });


                $("#navLogo").css({ "margin-top": "-70px" });

                $("#headerLogo").css({ "margin-top": "-70px" });

                $("#rec").css({ "opacity": "0", "z-index": "-1" });

                $(".navbar-inverse").css({ "height": "20px" });
            });
        });
    </script>

    @{
        List<Comercio2> comercios = ViewBag.comercios;
        string s = "";
        List<Comercio2> comercios2 = ViewBag.comercios2;
        string y = "";
    }



    <script>

var neighborhoods = [

    @{
    int i = 0;
    foreach (Comercio2 c in comercios)
    {
        i++;
        if (i == comercios.Count)
        {
            s += "{ lat:" + c.lat.ToString().Replace(",", ".") + ", lng:" + c.lng.ToString().Replace(",", ".") + "}";
        }
        else
        {
            s += "{ lat:" + c.lat.ToString().Replace(",", ".") + ", lng:" + c.lng.ToString().Replace(",", ".") + "},";
        }
    }
    }
    @(s)

        @*
       @{
           foreach (Comercio2 c in comercios)
       {
           s += "{ lat:" + c.lat.ToString().Replace(",",".") + ", lng:" + c.lng.ToString().Replace(",", ".") + "}";
       }

            }
            @(s),

            @{
                foreach(Comercio2 f in comercios2)
                {
                y += "{ lat:" + f.lat.ToString().Replace(",", ".") + ", lng:" + f.lng.ToString().Replace(",", ".") + "}";
                }
            }
            @(y)*@
];


        var markers = [];
        var map;
        @ViewBag.Localizaciones

        function initMap() {

            map = new google.maps.Map(document.getElementById('map'), {
                zoom: 13,
                center: { lat: -34.5979011, lng: -58.43593199999998 }
            });

           // var infoWindow = new google.maps.InfoWindow({ map: map });


            // Try HTML5 geolocation.
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function (position) {
                    var pos = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude
                    };

                    map.setCenter(pos);

                    var marker = new google.maps.Marker({
                        position: pos,
                       // animation: google.maps.Animation.DROP,
                        animation: google.maps.Animation.BOUNCE,
                        map: map
                    });

              
                     // marker.addListener('click', toggleBounce);

                    function toggleBounce() {
                           if (marker.getAnimation() !== null) {
                               marker.setAnimation(null);
                           }
                           else {
                               marker.setAnimation(google.maps.Animation.BOUNCE);
                           }
                    }

                },

                function () {
                   handleLocationError(true, infoWindow, map.getCenter());
                });

            }
            else {
                // Browser doesn't support Geolocation
                handleLocationError(false, infoWindow, map.getCenter());
            }

        }

        function handleLocationError(browserHasGeolocation, infoWindow, pos) {
            infoWindow.setPosition(pos);
            infoWindow.setContent(browserHasGeolocation ?
                'Error: The Geolocation service failed.' :
                'Error: Your browser doesn\'t support geolocation.');
        }

    var contenido1 = '<div id="content">' +
        '<div id="siteNotice">' +
        '</div>' +
        '<h4><b>Las medialunas del abuelo</b></h4>' +
        '<div id="bodyContent">' +
        '<p>Página web: <a href="http://www.lasmedialunasdelabuelo.com">' +
        'ingresar</a> ' +
        '</p>' +
        '</div>' +
        '</div>';
    var contenido2 = '<div id="content">' +
        '<div id="siteNotice">' +
        '</div>' +
        '<h4><b>Pizza Garden</b></h4>' +
        '<div id="bodyContent">' +

        '<p>Página web: <a href="http://www.pizzagarden.com">' +
        'ingresar</a> ' +
        '</p>' +
        '</div>' +
        '</div>';
    var contenido3 = '<div id="content">' +
        '<div id="siteNotice">' +
        '</div>' +
        '<h4><b>Café Martinez</b></h4>' +
        '<div id="bodyContent">' +

        '<p>Página web: <a href="https://cafemartinez.com">' +
        'ingresar</a> ' +
        '</p>' +
        '</div>' +
        '</div>';
    var contenido4 = '<div id="content">' +
        '<div id="siteNotice">' +
        '</div>' +
        '<h4><b>McDonalds</b></h4>' +
        '<div id="bodyContent">' +

        '<p>Página web: <a href="http://www.mcdonalds.com.ar/">' +
        'ingresar</a> ' +
        '</p>' +
        '</div>' +
            '</div>';
        var contenido5 = '<div id="content">' +
            '<div id="siteNotice">' +
            '</div>' +
            '<h4><b>Las medialunas del abuelo</b></h4>' +
            '<div id="bodyContent">' +

            '<p>Página web: <a href="http://www.lasmedialunasdelabuelo.com">' +
            'ingresar</a> ' +
            '</p>' +
            '</div>' +
            '</div>';
        var contenido6 = '<div id="content">' +
            '<div id="siteNotice">' +
            '</div>' +
            '<h4><b>Pizza Garden</b></h4>' +
            '<div id="bodyContent">' +

            '<p>Página web: <a href="http://www.pizzagarden.com">' +
            'ingresar</a> ' +
            '</p>' +
            '</div>' +
            '</div>';
        var contenido7 = '<div id="content">' +
            '<div id="siteNotice">' +
            '</div>' +
            '<h4><b>Café Martinez</b></h4>' +
            '<div id="bodyContent">' +

            '<p>Página web: <a href="https://cafemartinez.com">' +
            'ingresar</a> ' +
            '</p>' +
            '</div>' +
            '</div>';
        var contenido8 = '<div id="content">' +
            '<div id="siteNotice">' +
            '</div>' +
            '<h4><b>McDonalds</b></h4>' +
            '<div id="bodyContent">' +

            '<p>Página web: <a href="http://www.mcdonalds.com.ar/">' +
            'ingresar</a> ' +
            '</p>' +
            '</div>' +
            '</div>';

 
    var markersDesayuno = [];  
    function dropDesayuno(){
        //marker1
        setTimeout(function () {
        var marker1 = new google.maps.Marker({
            position: { lat: -34.596962, lng: -58.588046 },
            animation: google.maps.Animation.DROP,
            map: map
        });
        markersDesayuno.push(marker1);
        var infowindow1 = new google.maps.InfoWindow({
            content: contenido1,
            maxWidth: 200
        });
        marker1.addListener('click', function () {
            infowindow1.open(map, marker1);
        });
        }, 100);
        //marker5
        setTimeout(function () {
        var marker5 = new google.maps.Marker({
            position: { lat: -34.578237, lng: -58.405227 },
            animation: google.maps.Animation.DROP,
            map: map
        });
        markersDesayuno.push(marker5);
        var infowindow1 = new google.maps.InfoWindow({
            content: contenido1,
            maxWidth: 200
        });
        marker5.addListener('click', function () {
            infowindow1.open(map, marker5);
        });
        }, 200);
        //marker3
        setTimeout(function () {
        var marker3 = new google.maps.Marker({
            position: { lat: -34.623714, lng: -58.592216 },
            animation: google.maps.Animation.DROP,
            map: map
        });
        markersDesayuno.push(marker3);
        var infowindow3 = new google.maps.InfoWindow({
            content: contenido3,
            maxWidth: 200
        });
        marker3.addListener('click', function () {
            infowindow3.open(map, marker3);
        });
        }, 300);
        //marker7
        setTimeout(function () {
        var marker7 = new google.maps.Marker({
            position: { lat: -34.615061, lng: -58.426645 },
            animation: google.maps.Animation.DROP,
            map: map
        });
        markersDesayuno.push(marker7);
        var infowindow3 = new google.maps.InfoWindow({
            content: contenido3,
            maxWidth: 200
        });
        marker7.addListener('click', function () {
            infowindow3.open(map, marker7);
        });
        }, 400);


    }
    function limpiarDesayuno(map) {
        for (var i = 0; i < markersDesayuno.length; i++) {
            markersDesayuno[i].setMap(map);
        }
    } 

    var markersAlmuerzo = [];
    function dropAlmuerzo(){
        //marker2
        setTimeout(function () { 
        var marker2 = new google.maps.Marker({
            position: { lat: -34.602353, lng: -58.556285 },
            animation: google.maps.Animation.DROP,
            map: map
        });
        markersAlmuerzo.push(marker2);
        var infowindow2 = new google.maps.InfoWindow({
            content: contenido2,
            maxWidth: 200
        });
        marker2.addListener('click', function () {
            infowindow2.open(map, marker2);
        });
        }, 100);
        //marker4
        setTimeout(function () { 
        var marker4 = new google.maps.Marker({
            position: { lat: -34.591549, lng: -58.629244 },
            animation: google.maps.Animation.DROP,
            map: map
        });
        markersAlmuerzo.push(marker4);
        var infowindow4 = new google.maps.InfoWindow({
            content: contenido4,
            maxWidth: 200
        });
        marker4.addListener('click', function () {
            infowindow4.open(map, marker4);
        });
        }, 200);
        //marker6
        setTimeout(function () { 
        var marker6 = new google.maps.Marker({
            position: { lat: -34.603645, lng: -58.403249 },
            animation: google.maps.Animation.DROP,
            map: map
        });
        markersAlmuerzo.push(marker6);
        var infowindow2 = new google.maps.InfoWindow({
            content: contenido2,
            maxWidth: 200
        });
        marker6.addListener('click', function () {
            infowindow2.open(map, marker6);
        });
        }, 300);
        //marker8
        setTimeout(function () { 
        var marker8 = new google.maps.Marker({
            position: { lat: -34.600711, lng: -58.457665 },
            animation: google.maps.Animation.DROP,
            map: map
        });
        markersAlmuerzo.push(marker8);
        var infowindow4 = new google.maps.InfoWindow({
            content: contenido4,
            maxWidth: 200
        });
        marker8.addListener('click', function () {
            infowindow4.open(map, marker8);
        });
        }, 400);
    }
    function limpiarAlmuerzo(map) {
        for (var i = 0; i < markersAlmuerzo.length; i++) {
            markersAlmuerzo[i].setMap(map);
        }
    } 


    function drop() {                   
              // clearMarkers();
              //  comercios();
              //for (var i = 0; i < neighborhoods.length; i++) {
              //    addMarkerWithTimeout(neighborhoods[i], i * 200);
              //}      
    }

    function setMapOnAll(map) {
        for (var i = 0; i < markers.length; i++) {
            markers[i].setMap(map);
        }
    }

    // Removes the markers from the map, but keeps them in the array.
    function limpiar() {
        setMapOnAll(null);
    }
   

        function addMarkerWithTimeout(position, timeout) {
            window.setTimeout(function () {
                markersDesayuno.push(new google.maps.Marker({
                    position: position,
                    map: map,
                    animation: google.maps.Animation.DROP
                }));
            }, timeout);
        }

        function clearMarkers() {
            for (var i = 0; i < markers.length; i++) {
                markers[i].setMap(null);
            }
            markers = [];
        }

    function comercios() {
                   @{
                       string ss = "";
                       int h = 0;
                       foreach (Comercio2 c in comercios)
                       {
                           h++;
                           //ss += " var pos" + h + " = {";
                           //ss += "   lat:" + c.lat.ToString().Replace(",", ".") + ",";
                           //ss += "  lng: " + c.lng.ToString().Replace(",", ".") + "";
                           //ss += "};";


                           //ss += " map.setCenter(pos" + h + ");";

                           ss += " var marker" +h+ " = new google.maps.Marker({";
                           //position: pos,
                           //{ lat: -34.606903, lng: -58.425693 },
                           ss += " position: {lat:" + c.lat.ToString().Replace(",", ".") + ",";


                           ss += "  lng: " + c.lng.ToString().Replace(",", ".") + "},";


                           ss += " animation: google.maps.Animation.DROP,";
                           ss += " map: map";

                           ss += " });";
                       }
                   }
            @(ss)
    }




    </script>

    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDpRBZnrnMtwFyxGD9Ve9AUvMUQdcDg_Rw&callback=initMap">
    </script>

    <div id="map"></div>

  







    <input type="checkbox" class="checkbox-lateral" id="check">
    <label class="menulateral" for="check">Filtros</label>

    <div class="left-panel-lateral">
        <ul id="ul">

            <a id="a" href=""><li id="li">COMIDA</li></a>
            <form>
                <input type="checkbox" name="desayuno" id="desayuno"
                       onClick="if(this.checked == true){dropDesayuno()} else{limpiarDesayuno()}">
                <label id="boton" for="desayuno">Desayuno/ Merienda</label>  <br> <br>

                <input type="checkbox" name="almuerzo" id="almuerzo"
                       onClick="if(this.checked == true){dropAlmuerzo()} else{limpiarAlmuerzo()}">
                <label id="boton" for="almuerzo">almuerzo/ Cena</label>   <br><br>

              
               
               
            </form>

            <a id="a" href=""><li id="li">COMERCIO</li></a>
            <form>
                <input type="radio" name="gender" value="male"> Todos<br>
                <input type="radio" name="gender" value="female"> Vegano <br>
                <input type="radio" name="gender" value="other"> Celíaco
            </form>

            <a id="a" href=""><li id="li">PRECIO</li></a>
            <form>
                <input type="radio" name="gender" value="male"> -$200<br>
                <input type="radio" name="gender" value="female"> hasta $600<br>
                <input type="radio" name="gender" value="other"> +600
            </form>



            @*<br>
            <div id="floating-panel">
                <label id="boton" onclick="drop()">Aplicar</label>
            </div>
            <br> <br> <br>                    
            <div id="floating-panel">
                <label id="boton" onclick="limpiar()">Limpiar</label>
            </div>*@




        </ul>
    </div>




    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                    <li>@Html.ActionLink("Acerca de", "About", "Home")</li>
                    <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")

            </div>
        </div>
    </div>


















    <div class="container body-content">
        @RenderBody()
    </div>


</body>
</html>
