<!DOCTYPE html>
<html>
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <link href="~/Content/estilos.css" rel="stylesheet" />


</head>
<body>

    <div id="map"></div>

    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDpRBZnrnMtwFyxGD9Ve9AUvMUQdcDg_Rw&callback=initMap">
    </script>

    <script>
        function initMap() {
            var map = new google.maps.Map(document.getElementById('map'), {
                center: { lat: -34.5979011, lng: -58.43593199999998 },
                zoom: 13
            });
            var infoWindow = new google.maps.InfoWindow({ map: map });

            // Try HTML5 geolocation.
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function (position) {
                    var pos = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude
                    };

                    map.setCenter(pos);

                    var marker = new google.maps.Marker({
                        position: pos,
                        animation: google.maps.Animation.DROP,
                        map: map
                    });
                    marker.addListener('mouseout', toggleBounce);

                    function toggleBounce() {
                        if (marker.getAnimation() !== null) {
                            marker.setAnimation(null);
                        } else {
                            marker.setAnimation(google.maps.Animation.BOUNCE);
                        }
                    }


                }, function () {
                    handleLocationError(true, infoWindow, map.getCenter());
                });
            } else {
                // Browser doesn't support Geolocation
                handleLocationError(false, infoWindow, map.getCenter());
            }
        }

        function handleLocationError(browserHasGeolocation, infoWindow, pos) {
            infoWindow.setPosition(pos);
            infoWindow.setContent(browserHasGeolocation ?
                'Error: The Geolocation service failed.' :
                'Error: Your browser doesn\'t support geolocation.');
        }

     

    </script>



    <input type="checkbox" class="checkbox-lateral" id="check">
    <label class="menulateral" for="check">Filtros</label>

    <div class="left-panel-lateral">
        <ul id="#ul">

            <a id="a" href=""><li id="li">COMIDA</li></a>
            <form>
                <input type="radio" name="gender" value="male" checked> Desayuno<br>
                <input type="radio" name="gender" value="female"> Almuerzo<br>
                <input type="radio" name="gender" value="other"> Merienda<br>
                <input type="radio" name="gender" value="female"> Cena
            </form>

            <a id="a" href=""><li id="li">COMERCIO</li></a>
            <form>
                <input type="radio" name="gender" value="male" checked> Todos<br>
                <input type="radio" name="gender" value="female"> Vegano <br>
                <input type="radio" name="gender" value="other"> Celíaco
            </form>

            <a id="a" href=""><li id="li">PRECIO</li></a>
            <form>
                <input type="radio" name="gender" value="male" checked> -$200<br>
                <input type="radio" name="gender" value="female"> hasta $600<br>
                <input type="radio" name="gender" value="other"> +600
            </form>

        </ul>
    </div>




    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
               
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                    <li>@Html.ActionLink("Acerca de", "About", "Home")</li>
                    <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
                @Html.ActionLink("hola", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />

    </div>


</body>
    </html>
